<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="com/pojo/ReceiptPerson.xml" />
		<mapper resource="com/pojo/Area.xml" />
		<mapper resource="com/pojo/City.xml" />
		<mapper resource="com/pojo/Province.xml" />

	</mappers>
</configuration>